#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  color: rgb(36, 59, 78);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.logo {
  height: 9em;
  width: 9em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #222477);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #274988aa);
}


nav {
  background-color: rgb(39, 54, 75);
  padding: 0.5rem;
}

.navBar {
  text-align: center;
  color: aliceblue;
}

